<?xml version="1.0" encoding="UTF-8"?>

<suite name="Practices">
    <test name="Assign3">

        <parameter name="url" value="https://www.facebook.com/"/>
        <parameter name="browser" value="EDGE"/>
        <classes>
            <class name="TestCases.HomePageTest"/>
<!--            <class name="LogTest"/>-->
        </classes>
    </test>
</suite>